<!--业务系统查询api集合配置窗口-->
<div class="apiConfigWindow">
    <div><lable for="sys_name">数据名称:&nbsp;</lable><input type="text" id="sys_name"/><button value="添加api" class="add_sys_api">+</button></div>
    <div>
        <div id="sys_api_list"></div>
    </div>
    <div id="sys_api_list_set"></div>
    <div id="sys_set_btn_group">
        <input type="button" value="确定" id="confirm_sys_set_btn" />
        <input type="button" value="取消" id="cancel_sys_set_btn" />
        <p>
            <label for="perpetual_sys_set_btn">保存</label>
            <input type="checkbox" id="perpetual_sys_set_btn" />
        </p>
    </div>
</div>
</body>
</html>
