<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/smartmenu.css">
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.base.css" type="text/css"/>
    <!--<link rel="stylesheet" href="/jqwidgets/styles/jqx.bootstrap.css" type="text/css" />-->
    <!--<link rel="stylesheet" href="/jqwidgets/styles/jqx.metro.css" type="text/css" />-->
    <link rel="stylesheet" href="/css/base.css"/>
    <!--<script type="text/javascript" src="/scripts/jquery.min.js"></script>-->
    <script type="text/javascript" src="/scripts/jquery-2.2.4.min.js"></script>
    <!--<script src="scripts/bootstrap.min.js"></script>-->
    <script src="/jqwidgets/jqxcore.js"></script>
    <script src="/scripts/lodash.min.js"></script>
    <link rel="stylesheet" href="/css/toastr.min.css">
    <script src="/scripts/toastr.min.js"></script>
    <script src="/scripts/mission-client.js"></script>
    <link rel="stylesheet" href="/css/mission.css"></link>
    <link rel="stylesheet" href="/css/meeting.css"></link>
    <link rel="stylesheet" href="/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="/css/handsontable.full.css"/>
    <link rel="stylesheet" href="/css/bootstrap-pagination.min.css"/>
    <link rel="stylesheet" href="/css/sweetalert2.css"/>
    <link rel="stylesheet" href="/css/bootstrap-clockpicker.css"/>
    <!--<link rel="stylesheet" href="/css/jq    uery.mCustomScrollbar.css"/>-->
    <link rel="stylesheet" href="/css/jquery-ui-timepicker-addon.css"/>
    <!--<link rel="stylesheet" href="/css/flipclock.css"/>-->
    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <script type="text/javascript">
        $(function () {
            $.jqx.theme = 'meeting';
        });
    </script>
</head>
<body>
