<script src="/scripts/show/showReport.js"></script>
<script src="/scripts/FileSaver.js"></script>
<script src="/scripts/jquery.wordexport.js"></script>
<link rel="stylesheet" href="/css/showcss/showReport.css" type="text/css" />
<div id="report_top_wrap">
    <div id="show_item_list"></div>
    <div id="export_report_btn"></div>
</div>
<div id="report_foot_wrap">
    <div id="report_export">
        <div id="report_content"></div>
        <div id="report_appendixes"></div>
    </div>
</div>